@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {

  background-color: #f8f8f8;
}

* {

  
  padding: 0;
  margin: 0;
   
}

* {

    font-family: "Open Sans", sans-serif;

}


select {
  height: 45px !important;
  width: 100% !important;
  padding-left: 10px !important;
  border: 1px solid #c8c8c8 !important;
  border-radius: 8px;
  color: #455a64;
  font-size: 14px;
  background-color: white;
}

select:focus {
  outline: none !important;
  border: 1px solid #333333 !important;
  box-shadow: none !important;
}

a {
  color: black !important;
}


.hover-blue:hover {

  transition: color 300ms ease-in-out;
  color: #2196f3 !important; /* Change color on hover */
}

/* To keep other anchor tags with black color */
a {
  color: black !important;
}




.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #ffffff;
  border-color: black;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: black;
}


/* Tooltip */

.custom-tooltip {
  font-size: 9px;
  font-family: "Open Sans", sans-serif;
  padding: 6px 8px;
  letter-spacing: 2px;
  background-color: #212121;
  color: #ffffff;
  font-weight: 700;
}



.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
  background-color: black !important;
}



.ant-btn-primary {
background-color: black !important;
border-color: black !important;


}

:where(.css-dev-only-do-not-override-1vr7spz).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1;
  border: 1px solid white;
  border-radius: 4px;
  content: "";
}

